<div class='container'>
 <nav class="navbar navbar-default" role="navigation">
    <div class="logo"><img src='http://i.imgur.com/ctbutdQ.png?1'></div>
    <form method="get" action="/twits">
      <input type="submit" class="btn btn-primary" value="twits">
    </form>
    <form method="get" action="/profile/<%= session[:user_id] %>">
      <input type="submit" class="btn btn-primary" value="profile">
    </form>
    <form method="get" action="/logout">
      <input type="submit" class="btn btn-default" value="logout">
    </form>
  </nav>

  <div class="card">
    <div class="username profile"><%= @user_info.name %></div>
    <br>
    <img class="avatar profile" src="<%= gravatar_url(@user_info) %>">

    <p class="follows">Following: <%= @user_info.following.count %></p>
    <p class="follows">Followers: <%= @user_info.followers.count %></p>

    <form method="post" action="/follow/<%= @user_info.id %>">
      <input type="submit" class="btn btn-primary btn-lg" value="follow">
    </form>
    <% if flash[:error] %>
    <p class="notice"><%= flash[:error] %></p>
    <% end %>
  </div>

  <% @user_twits.each do |twit| %>
  <div class="card">
    <%= twit.message %>
  </div>
  <br>
  <%end  %>
  <div>
