<div class='container'>
  <form method="get" action="/logout">
    <button type="submit">Logout</button>
  </form>

  <form method="get" action="/profile/<%= session[:user_id] %>">
    <button type="submit">Profile Page</button>
  </form>

  <h2> Twit feed </h2>
  <form method="post" action="/twits">
    Twit:<br>
    <input type="text" name="message">

    <input type="submit" value="Twit">
  </form>

  <% if flash[:error] %>
  <p class="notice"><%= flash[:error] %></p>
    <% end %>

    <br>

    <% @all_twits.reverse_each do |twit| %>

    <img src="<%= gravatar_for(@all_users.find(twit.user_id)) %>">
    USER:
    <a href="/profile/<%= @all_users.find(twit.user_id).id %>"><%= @all_users.find(twit.user_id).name %></a>
    <br>

    TWIT:
    <%= twit.message %>
    <br>
    <br>
    <%end  %>
  </div>
